*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Newsreader', serif;
	color: white;
}
html,body{
	height: 100%;
}
.clear{
	clear: both;
}
.w50{
	width: 50%;
}
.w100{
	width: 100%;
}
.line{
	width: 100%;
	height: 1px;
	background-color: white;
}
div.bg{
	
	width: 100%;
	height:auto;
	background-color: black;
}





/*********primeira sessao do site *********/
section.public{
	width: 100%;
	height: 100%;
	margin-top: 55px;
	float: left;
}
section.public .buttom{
	width: 5%;
	height: 520px;
	float: left;
	border: 1px solid white;
	border-left: 0;
	padding-bottom: 
}
section.public .container-buttom{
	width: 100%;
	height: 100%;
	
	text-align: center;
	position: relative;
	margin-top: 150px;

}
.container-buttom .btn{
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
}
.container-buttom span{
	width: 30px;
	height: 30px;
	border-radius: 20px;
	border: 2px solid black;
	float: left;
	background-color: black;
	border: 3px solid white;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 30px;
}
section.public .container-redes-sociais div{
	width: 100%;
	margin-top: 35px;
}
.redes-sociais img{
	width: 30px;
	height: 30px;
}
.redes-sociais img:hover{
	border: 1px solid white;
}
section.public .scroll-equip{
	width: 95%;
	height: auto;
	float: left;
	overflow: hidden;
}
.scroll-equip .scroll-wraper{
	width: 100%;
	height: 100%;
}
.scroll-wraper .slider{
	width:93.9vw;
	height: 100%;
	float: left;
}
section.public .banner-cursos{
	width: 70%;
	height: 520px;
	float: left;
	
}
section.public .banner-cursos img{
	width: 100%;
	height: 100%;
}



section.public .info-cursos{
	width: 30%;
	height: 100%;
	float: left;
	text-align: center;
}
section.public .info-cursos .container_info-cursos{
	width: 80%;
	margin: 0 auto;
	margin-top: 100px;
}
section.public .info-cursos h2{
	color: white;
	font-weight: normal;
	font-size: 28px;
}
section.public .info-cursos p{
	color: white;
	margin-top: 40px;
	text-align: justify;
	line-height: 25px;
	font-size: 20px;
}
section.public .info-cursos li{
	width: 60%;
	height: 45px;
	margin: 0 auto;
	margin-top: 45px;
	border-radius: 20px;
	text-transform: uppercase;
	background-color: white;
	list-style-type: none;
	
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}
section.public .info-cursos a{
	line-height: 48px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

/***YOUCODELOVE**/



/*********Cursos*********/

section.cursos-ab{
	text-align: center;

}
section.cursos-ab h2{
		margin-top: 100px;
		font-weight: normal;
		font-size:  30px;
}


section.cursos-ab .container-cursos{
	width: 100%;
	height: 400px;
	
	margin-top: 80px;
	margin-bottom: 200px;
}
.container-cursos .cursos-ind{
	width: 33%;
	height:100%;
	float: left;
	
}
.container-cursos .cursos-ind .container-cursos-ind{
	width: 60%;
	height: 100%;
	margin: 0 auto;
	background-image: linear-gradient(to top right,rgba(255,255,255,0.2),black,rgba(255,255,255,0.3));;
	border: 3px solid rgba(255,255,255,0.2);
	border-radius: 50px;
}
.container-cursos .cursos-ind:nth-child(1) ,.container-cursos .cursos-ind:nth-child(3) {
	margin-top: 140px;
}

.container-cursos .cursos-ind img{
	width: 110px;
	height: auto;
	margin-top: 25px;
}
.container-cursos .cursos-ind:nth-child(2) > img{
	margin-top: 40px;
}

.container-cursos .cursos-ind .container-cursos-ind h2{
	font-weight: normal;
	margin-bottom: 30px;
	font-size: 33px;
	margin-top: 30px;
}
.container-cursos .cursos-ind .container-cursos-ind p{
	font-weight: normal;
	margin-bottom: 30px;
	font-size: 20px;
	width: 200px;
	margin: 0 auto;
	margin-top: 30px;
	line-height: 30px;
	
}
.container-cursos .cursos-ind .container-cursos-ind li{
		width: 50%;
		height: 30px;
		border: 1px solid white;
		margin: 0 auto;
		margin-top: 10px;
		list-style-type: none;
		border-radius: 20px;
	}
.container-cursos .cursos-ind .container-cursos-ind li:hover{
			background-color: rgba(255,255,255,0.2);
}

.container-cursos .cursos-ind .container-cursos-ind a{
			text-decoration: none;
			line-height: 30px;
			color: white;
			font-weight: bold;
			font-size: 13px;
			text-transform: uppercase;
}

li.ver-todos {
	width: 250px;
	height: 70px;
	margin: 0 auto;
	border: 1px solid white;
	text-align: center;
	list-style-type: none;
	border-radius: 15px;

}
li.ver-todos a{
	text-decoration: none;
	line-height: 70px;
	font-weight: bold;
	font-size: 24px;
	
}
/*************Cursos em destaque***********/
.curso-des{
	font-size: 30px;
	margin-bottom: 100px;
	position: relative;
	top: 16px;
	width: 300px;
	background-color: black;
	margin: 0 auto;
	text-align: center;
	margin-top: 200px;
}
.curso-destaque{
	width: 98%;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
}

.curso-destaque .curso-ind{
	width: 33%;
	height: 250px;
	padding: 0 15px;
	float: left;
	margin-top: 20px;

}
.curso-ind .curso{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top right,rgba(255,255,255,0.2),black,rgba(255,255,255,0.3));
	border-radius: 25px;	
	border: 3px solid rgba(255,255,255,0.2);
	margin: 0 auto;
	cursor: pointer;


}
.curso img{
	width: 90%;
	height: 90%;
	margin: 0 auto;
	border-radius: 25px;
	margin-top: 11px;
	z-index: 1;
}
.curso h2{
	width: 90%;
	height: 95px;
	margin: 0 auto;
	font-size: 26px;
	background-color: rgba(0,0,0,0.8);
	border-bottom-left-radius:   24px;
	border-bottom-right-radius: 24px;
	position: relative;
	line-height: 45px;
	top: -89px;
	z-index: 3;
	
	
}
.curso li{
	list-style-type: none;
	position: relative;
	top: -143px;
	width: 150px;
	height: 40px;
	border: 1px solid white;
	margin: 0 auto;
	border-radius: 10px;
	transition: 0.7s;
	z-index: 4;
	

}
.curso li a {
	line-height: 40px;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	z-index: 5;

}

.curso li:hover{
	background-color: rgba(255,255,255,0.2);
	transition: 0.5s;
	
}


	
/****************Captura de Email*******************/



/************footer**************/


/*************Medias Screen And***********/
@media screen and (max-width: 1080px){
		.container-cursos .cursos-ind{
	width: 50%;

}
.container-cursos .cursos-ind .container-cursos-ind{
	width: 50%;
		
}
.container-cursos .cursos-ind:nth-child(1) ,.container-cursos .cursos-ind:nth-child(3) {
	margin-top: 0;
}
.container-cursos .cursos-ind:nth-child(3){
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.curso-destaque .curso-ind{
	width: 50%;
	height: 280px;

	
	
	

}
}
@media screen and (max-width: 920px){
	header.topo nav.desktop{
		display: none;
	}
	header.topo nav.mobile{
		display: block;
	}
	section.youcodelove {
	margin-top: 450px;
	margin-bottom: 320px;
}
/*******section public *******/
	section.public .redes-sociais{
	width: 100%;
	height: 100px;
	
	border: 1px solid white;
	border-left: 1px solid white;
}
section.public .buttom{
	width: 100%;
	height: 70px;


}
section.public .container-buttom{
	margin-top: 17px;

}
.container-buttom .btn{
	width: 33%;
	height: auto;
	float: left;
	text-align: center;
}


.container-buttom span{
	width: 30px;
	height: 30px;
	border-radius: 20px;
	border: 2px solid black;
	
	float: left;
	background-color: black;
	border: 1px solid white;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 0;

}


section.public .banner-cursos{
	width: 100%;
	height: 480px;

}
section.public .scroll-equip{
	width: 100%;
	height: auto;
	float: left;
	overflow: hidden;
}
.scroll-wraper .slider{
	width:100vw;
}

section.public .info-cursos{
	width: 100%;
	border-bottom: 1px solid white;
	padding-bottom: 20px ;
}
section.public .info-cursos .container_info-cursos{
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}
section.public .info-cursos p{
	color: white;
	margin-top: 40px;
	text-align: center;
	line-height: 25px;
	font-size: 20px;
}



}

@media screen and (max-width: 850px){

	section.cursos-em-destaque .curso-destaque{
	width: 50%;
	height: 200px;
	
	float: left;
	background-color: #ccc;
	border: 4px solid black;
	margin-bottom: 5px;
}
.container-cursos .cursos-ind{
	width: 100%;
	margin-bottom:  50px;


}





li.ver-todos {
	
	float: left;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 50px;
	margin-bottom: 120px;
}

}



@media screen and (max-width: 620px){

section.public .banner-cursos{
	
	height: 250px;

	
}
	.curso-destaque .curso-ind{
	width: 90%;

	height: 300px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	
	

}



.container-catalogo-cursos .cat-curso{
	width: 65%;
	

}
	section.public .buttom{
	 width: 100%;
	height: 60px;
}
section.buttom {
	margin: 0;
	padding: 0;
	height: 20px;
}
section.public .container-buttom{
	margin-top: 13px;

}
section.public .container-redes-sociais div{
	width: 25%;

	float: left;
	margin-top: 12px;
}


.container-cursos .cursos-ind .container-cursos-ind{
	width: 70%;
	
}





}
@media screen and (max-width: 600px){

}